# ------------------------------------------------------------------------------
# Rust / Cargo
# ------------------------------------------------------------------------------

# target
target/

# Backup
**/*.rs.bk

# Debugging
*.pdb

# ------------------------------------------------------------------------------
# OS / Editor
# ------------------------------------------------------------------------------
.DS_Store
.vscode/
.idea/
*.swp